# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Model weights
*.pth
*.pt

# Logs
logs/
*.log

# Results
results/
outputs/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db